body {
cursor: url(http://24work-new.googlecode.com/svn/trunk/24work-blogspot/mouse-cursor/live-demo/cur116.cur),progress;
}

a:hover {
cursor: url(http://24work-new.googlecode.com/svn/trunk/24work-blogspot/mouse-cursor/live-demo/cur117.cur),default;
color: #f60;
}