#related-posts ul li:first-child {

background-color: rgba(255, 0, 0, 0.6);

width: 89%;

}

#related-posts ul li:first-child a {

color: moccasin;

}

#related-posts ul li:nth-child(2) {

background-color: rgba(244, 164, 96, 0.6);

width: 87%;

}

#related-posts ul li:nth-child(2) a {

color: sienna;

}

#related-posts ul li:nth-child(3) {

background: none repeat scroll 0 0 rgba(255, 215, 0, 0.6);

width: 84%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(3) a {

color: #444444;

}

#related-posts ul li:nth-child(4) {

background: none repeat scroll 0 0 rgba(199, 242, 95, 0.6);

width: 81%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(4) a {

color: #444444;

}


#related-posts ul li:nth-child(5) {

background: none repeat scroll 0 0 rgba(54, 201, 247, 0.6);

width: 78%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(5) a {

color: #444444;

}

#related-posts ul li:nth-child(6) {

background: none repeat scroll 0 0 rgba(126, 227, 199, 0.6);

width: 75%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(6) a {

color: #444444;

}

#related-posts ul li:nth-child(7) {

background: none repeat scroll 0 0 rgba(246, 153, 61, 0.6);

width: 72%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(7) a {

color: #444444;

}

#related-posts ul li:nth-child(8) {

background: none repeat scroll 0 0 rgba(245, 144, 149, 0.6);

width: 69%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(8) a {

color: #444444;

}

#related-posts ul li:nth-child(9) {

background: none repeat scroll 0 0 rgba(255, 118, 76, 0.6);

width: 66%;

padding-bottom: 10px !important;

}

#related-posts ul li:nth-child(9) a {

color: #444444;

}

#related-posts h2 {

background: transparent;

color: salmon;

text-align: left;

font-size: 22px;

padding-bottom: 10px;

font-family: exo,Trebuchet MS !important;

}

#related-posts {

padding-top: 15px;

text-transform: none;

width: 625px;

font-family: exo, Trebuchet MS;

}

#related-posts a {

font-size: 16px;

}

#related-posts ul {

list-style: none outside none;

text-align: left;

}

#related-posts li {

margin-top: -6px;

padding: 15px 18px;

}