#recent-posts ul{padding-left:0px;}
#recent-posts ul li {background: #FFF no-repeat scroll 5px 10px;
list-style-type: none;
margin:0 0 5px 0px;
padding:5px 5px 5px 20px !important;
border: 1px solid #dcdcdc;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;

}

#recent-posts ul li:hover {

background:#FF8040;

}

#recent-posts ul li a
{
text-decoration:none;
font:14px Georgia, verdana;
color:#222222;
}
#recent-posts ul li a:hover {
text-decoration:none;
color:#fff;
}